# service-account.json example
# service-account.json should be added to .gitignore for reasons

# the json should look something like this

{
    "type": "service_account",
    "project_id": "project_name",
    "private_key_id": "asdasd123123123",
    "private_key": "-----BEGIN PRIVATE KEY-----\herearestuffthatshouldbeexposed\n-----END PRIVATE KEY-----\n",
    "client_email": "longmailaddress",
    "client_id": "123",
    "auth_uri": "https://urlhere.com",
    "token_uri": "https://urlhere.com/token",
    "auth_provider_x509_cert_url": "https://urlhere.com",
    "client_x509_cert_url": "https://urlhere.com",
    "universe_domain": "https://urlhere.com"
  }